name: Test Action

on: [push, pull_request]

jobs:
  TestAction:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Run Action
      uses: ./
      with:
        name: test_project
        preset: linux
        projectDir: 3.x_test_project
        package: 'true'